@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-white: #fdf6f0ed;
  --color-background-pink: #9e3a6542;
}

a:hover {
  color: #FF6B9E;
}

.imagen-fondo {
  background-image: url('./productTablelogos/imagenFondo.jpeg');
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF9EB1;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #FF6B9E;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #D87093;
    background-color: #FFF0F5;
  }

  a:hover {
    color: #FF6B9E;
  }

  button {
    background-color: #FFD1DC;
  }
}